.header_my-list{
    display: flex;
    align-items: center;
    background-color: black;
 }
 .header_my-list.sticky{
   top: 0;
   left: 0;
    z-index: 1000;
    position: fixed;
 }
 .header_my-list h3{

   line-height: 100%;
   position: relative;
    color: #fff;
 }
 .my_list-page{
    min-height:1000px ;
    background-color: #000;
 }
 .no_list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
 }
 .no_list h4{
    color: #757575;
 }
  .full_screen-film{
   position: relative;
   
  }
  .full_screen-film video{
     height: 100%;
     margin-top: -80px;
     width: 100%;
      top: 0;
     bottom: 0;   
     left: 0;
     right: 0;
     background-color: #000;
  }
  .prev-page{
     margin-top: 24px;
     margin-left: 24px;
     background: none;
     border: none;
     position: absolute;
     font-size: 3rem;
     z-index: 1000;

  }
  .prev-page i{
     color: #fff;
  }
  .name_film{
   position: absolute;
   color: #fff;
   animation-name: remove;
   animation-duration: 4s;
  }



 