*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 a:hover {
  text-decoration:none !important;
}

.navbar .container img{
    width: 145px;
    height: 35px;
}
.navbar .container form{
    text-align: center;
}
.navbar .container form button{
    background-color: red;
    width: 75px;
    height: 40px;
    border-radius: 6px;
    border: none;
    margin-top: 3px;
    margin-left: 15px;
}
.link-primary{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: 700;
    font-size: 14px;
}
.top h2{
    max-width: 785px;
    margin: 0 auto 20px auto;
    line-height: 1;
    font-size: 3.6rem;
    text-align: center;
    color: white;
    font-weight: 600;
}
.top{
    background-image: url(assets/img/backgourp.jpg);
    padding: 100px 0;
}
.tabs {
    display: flex;
    position: relative;
  }
  .tab-content{
      background-image: url(assets/img/backgroundwaymatch.png);
      padding: 100px;
  }
  .tab-content{
    color: aliceblue;
  }
  .tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 6px;
    border-radius: 15px;
    background-color: #e60b0b;
    transition: all 0.2s ease;
  }
  .text-way{
    text-align: center;
    font-size: 12px;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .vr { 
    height: 21px; width: 1px; 
    border-left: 1px solid gray;
   }
   .container .row a{
     color: gray;
     text-decoration: none;
   }
   .container .row a:hover{
     text-decoration: underline;
   }
   .banquyen{
    display: flex;
    text-align: center;
   }
   .bottom img{
     width: 50px;
   }
   .bottom{
     margin-top: 50px;
   }
   .bottom .banquyen .far{
     margin-top: 5px;
     margin-right: 5px;
   }
   .bottom .textany a{
    color: gray;
    text-decoration: none;
  }
  .textany{
    display: flex;
    justify-content: space-between;
    width: 160px;
  }
  .textany a:hover{
    text-decoration: underline;
  }
  .banquyenleft{
    display: flex;
    flex: 1;
  }
  .banquyen img{
    display: flex;
  }
/* main */
.main{
  background-color: #000;
}
.navbar-header{
  position: absolute;
  z-index: 1000;
  background-color: #000;
}
.header{
  z-index: 1000;

  background-color: #000;
  height: 68px;
  display: flex;
}

.menu-left{
  display: inline-block;
}
.menu-left ul li{
  list-style: none;
  display: inline-block
}
.header .container{
  padding-top: 20px;
}
.menu-left ul li a{
    text-decoration: none;
    padding: 0 10px;
    color: white;
}
.header .container  img{
    width: 92px;
    height: 25px;
}
.menu-right{
  float: right;
  color: white;
}
.menu-right ul{
  display: flex;
}
.menu-right ul li{
  list-style: none;
  padding: 0 5px;
}
.dropdown .btn{
  background-color: #000;
  border: none;
  position: relative;
}
#img-user{
  width: 35px;
  height: 25px;
}
.dropdown-menu a{
  display: flex;
  text-decoration: none;
  color: white;
  z-index: 1000;
}
.dropdown-menu a:hover{
  text-decoration: underline;
}
.dropdown .dropdown-menu{
  background-color: #000;
}
/* background-video */
.slider{
  position: relative;
  margin: 0;
  font-family: Arial;
  font-size: 17px;
  color: #FFFFFF;

}

.slider video{
  object-fit: cover;
  }
.content  {
  display: flex;
  align-items: center;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.content .navbar-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.content h1{
  font-size: 2.75rem;
}
.content p{
  font-size: 1.75rem;
}
.btn1{
  background-color: #FFFFFF;
  width: 106px;
  height: 39px;
}
.btn1 i{
  font-size: 20px;
  padding: 0 10px;
}
.btn2{
  background-color: gray;
  width: 144px;
  height: 39px;
  margin-left: 10px;
}
.btn2 i{
  font-size: 10px;
  color: white;
  padding: 0 10px;
  text-transform: none;
}
.btn2 p{
  
  color: #FFFFFF;
}
.btn a{
  text-decoration: none;
  color: #000;
}


.buttons .btn {
  background-color: #FFFFFF;
  padding: 10px;
}
.menu-left-mobile{
   display: none;
}
.swiper1{
  display: none;
}
@media (max-width: 1000px ) {
  .content h1{
    font-size: 2.75rem;
  }
  .content p{
    font-size: 1.5rem;
  }
    .menu-left-mobile{
      display: block;
    }
    
    .menu-left{
      display: none;
    }
    #kids, #DVD{
      display: none;
    }
    #img-user{
      width: 20px;
      height: 20px;
    }
    .swiper1{
      display: flex;
    }
    .swiper{
      display: none;
    }
    #s{
      transition:all 0.2s ease-out;
      width:2px;
      border-radius:0;
      box-shadow:none;
      outline: none;
      padding:0;
      margin:0;
      border:0;
      background-color: transparent;
      opacity:0;
      color: white;
      border-radius: none;
    }
    .container{
      max-width: 100%;
      padding: 0 24px;
    }
    #s:focus{
      width: 200px;
      opacity:1;
      border: 10px;
    }
}
@media (max-width: 800px ) {
  .content h1{
    font-size: 1rem;
  }
  .content p{
    display: none;
  }
  
}
/* category */
.category {
  background: #000;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.category img{
  max-width: 100%;
  height: auto;
}
.category .swiper-wrapper{
  padding: 20px 0;
}
.category .swiper-slide{
  transition: 250ms all;
}
.category .swiper-slide:hover{
  transform: scale(1.2);
  z-index: 1;
}
.swiper1{
  
}



/* footer */
.footer {
	margin: 100px auto 0;
	width: 80%;
	color: #808080;
}
.footer .social i {
	padding-right: 26px;
	font-size: 28px;
}
.flex {
	display: flex;
	padding-bottom: 80px;
}
.footer .info {
	width: 60%;

}
.footer .info ul {
	list-style: none;
	display: inline;
	font-size: 13px;
}
.footer .info ul li a{
	margin-top: 8px;
	text-decoration: none;
	color: gray;
	font-size: 15px;
}
.footer .info ul li a:hover{
	text-decoration: underline;
	color: white;
}
/* search */
  #container{
	margin:auto;
	float:right;
	text-align:center;
  flex-wrap: nowrap;
 }
  #searchform{
	display:flex;
  flex: 1;
	font-size:15px;
	border:2px solid white;
	padding: 5px;
	background:black;
  }
  #s{
	transition:all 0.2s ease-out;
	width: 1px;
	border-radius:0;
	box-shadow:none;
	outline: none;
	padding:0;
	margin:0;
	border:0;
	background-color: transparent;
	opacity:0;
	color: white;
	border-radius: none;
  }
  #s:focus{
	width: 200px;
	opacity:1;
	border: 10px;
  position: relative;
  }
  label{
	padding-left: 1px;
	display:inline-block;
	margin-top:0.3em;
	color:white;
	text-shadow:0 0 2px rgba(60,60,60,0.3);
	position: relative;
	left:0.1em;
  }
  
.card-body{
    display: none;
    align-items: center;
    justify-content: space-between;
     background-color: rgb(29, 26, 26);
 }
 .card-body-item{
    height: 24px;
    width: 24px;
    border: 1px solid #757575;
    border-radius: 50%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2px;
 }
 .card{
    background-color: #000;
 }
 .card-body-item:hover{
  color: #fff ;

    border: 1px solid #ffffff;
 }
 .first_child{
    background-color: #fff;
    color: #000;
 }
 .first_child i{
   color: #000;
 }
 .card-body-item a{
    color: #fff ;
    text-decoration: none;
    font-size: 0.75rem;
 }
 .card-body-item a:hover{
    color: #fff !important;
 }
 .card:hover  {
  animation-name:grow_up !important;
  animation-duration: 1s;
  z-index: 1000;
  transform: scale(1.6);
}
.card:hover div{
  display: flex;
}


 @keyframes grow_up {
  0% {transform: scale(1);}
  20% {transform: scale(1);}
  40% {transform: scale(1);}
  60% {transform: scale(1);}
  100% {transform: scale(1.6);}
 }

h3 {
    color: #fff !important;
}
.add_list{
  display: flex;
  justify-content:end !important;
}
.card-model:hover{
  animation-name:grow_up-1 !important;
  animation-duration: 1s;
  transform: scale(1);
}
@keyframes grow_up-1 {
  0% {transform: scale(1);}
  20% {transform: scale(1);}
  40% {transform: scale(1);}
  60% {transform: scale(1);}
  100% {transform: scale(1);}
 }
 .card-model:hover div{
   display: block;
 }
 .card-model:hover .add_list{
  display: flex;
  justify-content:end ;
  align-items: center;
 }
 .card-model:hover .add_list a{
  display: flex;
  justify-content:center ;

 }