
 @media(min-width: 1200px) {
    .main-search .input-group {
       width: 60%;
       margin: 0 auto;
    }
 }
 @media(max-width: 996px){
   .content-contact-left{
      display: none;
   }
   .footer-contact-left{
      flex-direction:column;
      text-align: right;
      
   }
   .footer-contact-left a{
      margin-bottom: 10px;
   }
   
 }
 @media(max-width: 900px){
   .footer-contact-left{
      flex-direction: column;
   }
   .faq-footer{
      flex-wrap: wrap;
   }
   .faq-footer-right {
      width: 100%;
      justify-content: space-between;
   }
   .faq-footer-right button{
      width: 48%;
      background-color: #fff;
      height: 42px;
   }
   
 }

 @media(max-width: 800px) {
    .layer h1 {
       font-size: 60px;
    }
    
    

 }
 
 @media(max-width: 767px) {
    .reverse {
       flex-direction: column-reverse;
    }
    .footer-contact{
      height: 100%;
    }
    .footer-contact-left{
      margin-top: 48px;
      flex-direction: column;
      float: left;
      align-items:flex-start;
   }
   .footer-contact-left a{
      margin-top: 8px;
      margin-left:-4px ;
   }
   .faq-footer-right{
      display: flex;
      flex-wrap: wrap;
   }
   .faq-footer-right button{
      width: 100%;
      margin: 8px 0;
   }
   
   
    
 }
 
 @media(max-width: 612px) {
   .sperate{
      display: none;
   }
   .header_navbar--logo-first{
      display: none;
   }
   .header_navbar--logo-second{
      display: block;
   }
   .contact-header{
      height: 120px;
   }
   .navbar-right{
      flex-direction: column;
   }
   .help-center{
      margin-left: -32px;
   }
   .navbar-left{
      margin-top: -54px;
   }
   
    .email-address{
        max-height: 38px;
        display: flex;
        
     }
     a.navbar-brand{
        width: 100px;
     }
     #basic-addon2{
        font-size: 1.25rem;
        justify-content: center;
        justify-items: center;
        
    }
    .layer h1 {
       font-size: 50px;
    }
    .layer h5 {
       font-size: 20px;
    }
    section h2 {
       font-size: 40px;
    }
    .main-search input,
    .input-group-text {
       width: 100% !important;
       border-radius: 0px;
       border: 0px;
       
    }
    .input-group-text {
       margin-top: 5px;
    }
    .faq .btn {
       font-size: 20px;
       height: auto;
       padding-top: 5px;
       padding-left: 10px;
    }
    .faq .card {
       font-size: 16px;
       padding-left: 10px;
    }
    section p {
       font-size: 18px;
    }
    .alert-left{
      flex-wrap: wrap;
   }
   .aleart-submit{
      justify-content: left;
   }
   .alert-icon{
      justify-content:left;
      
   }
  
    
 }
 
 @media(max-width: 515px) {
   .join-netflix {
      margin-top: -0.5px;
   }
    .bg-img{
        height: 500px;
    }
    .layer h1 {
        font-size: 32px;
    }
    .layer h5 {
       font-size: 16px;
    }
    .bottom-search p {
       padding-left: 10px;
       padding-right: 10px;
    }
    a.navbar-brand {
       font-size: 32px;
    }
    .form-select {
       height: 40px;
    }
    .top-sign-in {
       margin-top: 3px;
    }
    .px-5 {
       padding-right: 10px!important;
       padding-left: 10px!important;
    }
    .layer h3 {
        font-size: 20px;
        padding-bottom: 8px;
    }
    .layer h5 {
       font-size: 14px;
    }
 }
 
 @media(max-width:425px) {
    .layer h1 {
       font-size: 34px;
    }
    
 }