:root {
    --bs-red: #e50914;
    
 }
 

#header .head{
   position: absolute;
   margin-top: 16px;
    position: absolute;
    display: inline-flex;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1;
    
}
.btn-sign-in{
    min-width: 84px;
}
 body {
    padding: 0;
    margin: 0;
    font-family: "Roboto",sans-serif;
    overflow-x: hidden;
 }
 
 img {
    max-width: 100%;
 }
 
 section {
    border-top: 8px solid #222;
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: #000000;
 }
 .bottom-email-search{
    border-top: 0 ;
 }
 
 section h2 {
    font-size: 55px;
    color: #fff;
    font-weight: bold;
 }
 
 section p {
    font-size: 22px;
    color: #fff;
 }
 
 h1 {
    color: #fff;
    font-size: 3.625em; 
    
 }
 
 h3,
 h5 {
    color: #fff;
    padding-bottom: 24px;
 }
 
 .text-common {
    color: #757575;
 }
 
 .row {
    margin: 0px;
 }
 
 .navbar {
    position: absolute;
    width: 100%;
 }
 a.navbar-brand {
    color: #e50914 !important;
    font-weight: bold;
    width: 160px;
 }
.header_navbar--logo-second{
   display: none;
}
 a.navbar-brand:hover{
     color: #e50914 !important;
 }
.slide-banner a,.bottom-search a{
    background-color: #e50914;
    color: #fff;
    text-decoration: none;
    display: flex;
    font-weight: 400;
    justify-content: space-between;
    align-items: center;
    font-size: 1.625rem;
}
.nav-option{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-banner a:hover{
    color: #fff;
}
.slide-banner a i {
    padding-left: 24px;
}
 .bg-img {
    background-image: url(assets/img/slide-banner.jpg);
    height: 100vh;
 }
 
 .layer {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: visible;
 }
 .layer:hover{
    display: flex;
 }
 .layer.row{
    z-index: 1;
 }
 .btn_get_stared{
    width: 32%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3.625rem;
 }
 .top-sign-in {
    height: 34px;
    margin-top: 10px;
    padding-top: 5px;
 }

 .input-group-text {
    font-size: 28px !important;
    background-color: #e50914 !important;
    color: #fff;
    border: 0px;
    cursor: pointer;
    width: 250px;
    

 }
 .btn-check:focus+.btn,
 .btn:focus {
    box-shadow: none;
 }
 
 .main-search input {
    height: 50px;
    
 }
 .main-search .input-group{
    border-radius: 4px;
 }
 .input-group{
    height: 40px;
 }
 .advertise_part1 a{
    text-decoration: none;
    color: #fff;
    font-size: 1.625rem;
 }
 .advertise_part1 a i{
     padding-left: 12px;
     
 }
 .faq .btn {
    width: 100%;
    height: 72px;
    background-color: #303030;
    font-size: 30px;
    padding-top: 12px;
    text-align: left;
    padding-left: 30px;
    margin-bottom: 10px;
    border-radius: 0px;
 }
 
 .multi-collapse.show {
    margin-bottom: 10px;
    padding: 0;
 }
 
 .faq .card {
    background-color: #303030;
    font-size: 26px;
    color: #fff;
    
 }
.card a{
   color: #fff;
   display:  flex;
   justify-content: space-between;
   align-items: center;
   
}
.card{
   margin-top: 12px;
}

 footer {
    background-color: #000000;
    padding: 40px 0;
    border-top: 8px solid #222;
 }
 
 footer ul {
    list-style-type: none;
 }
 
 footer ul li {
    color: #757575;
    margin-top: 15px;
 }
 
 footer a {
    text-decoration: none;
    color: #757575;
 }
 
 footer a:hover {
    color: #757575;
    text-decoration: underline;
 }
 a:hover{
    color: #fff !important;
}
.form_email{
   display: flex !important;
}
.email-address{
   height: 80px;
   padding: 10px 0;
   width: 100%;
   box-sizing: border-box;
   box-shadow: none;
   outline: none;
   border: none;
   padding: auto;
}
.email-search {
   position: relative;
}
.email-search label{
   position: absolute;
   width: 100%;
   left: 10px;
   top: 16px;
   pointer-events: none;
   color: rgb(65, 60, 60);
}
.email-address:focus ~ label{
   top: -4px;
   left: 0;
   left: 10px;
}
.question-contact{
   margin-top: 24px;
}
.contact-header{
   position: relative;
  display: flex;
  justify-content: space-between;
  height: 64px;
}

.contact-header .row{
   display: flex;
  justify-content: space-between;
}
.contact-header a{
   width: 90px;
   
}
.navbar-right{
   display: inline-flex;
   justify-content: center;
   align-items: center;
}
.sperate{
   display: block;
   content: "";
   height: 28px;
   width: 1px;
   background-color: #fff;
   margin-top: 4px;
}
.help-center a{
   margin-left: 20px;
   margin-top: 16px;
   text-decoration: none;
   color: #fff;
   font-size: 1.25rem;
}
.navbar-left{
   display: flex;
   justify-content: center;
   align-items: center;
}
.join-netflix{
   margin-top: 8px;
   border: 1px solid #fff;
   padding: 4px 4px;
   border-radius: 4px;
   margin-right: 16px;
}
.join-netflix a{
   font-size: 1rem;
   text-decoration: none;
   color: #fff;
}
.back-to-help a{
   
   padding-top:32px;
   text-decoration: none;
   color: #e50914;
}
.back-to-help a:hover{
   color: #e50914 !important;
   text-decoration:underline;
}
.content-contact{
   background-color: #fff;
   border-top: none;
   padding-top: 32px;
   padding-bottom: 0;
}
.content-contact h1{
   color: #000 ;
   font-weight: 700;
}
.content-contact h3{
   color: #000 ;
   padding-bottom: 4px;
}

.content-contact p{
   color: #000 ;
   font-size: 1.1rem
}
.content-contact h5{
   color: #000 ;
   padding-bottom: 2px;
}
.back-to-help a i{
   padding-right: 12px;
}
.app-dowload{
   display: flex;
   width: 260px;
   justify-content: space-between;
}
.app-dowload a{
  margin-top: 16px;
}
.app-dowload a img{
   height: 36px;
   border-radius: 4px;
   width: 120px;
   position: 50%;
}
.contact-question{
   display: flex;
   margin-top: 32px;
}
.contact-question a{
   text-decoration: none;
   color: #e50914 !important;
}
.contact-question a:hover{
   display: block;
   color: #e50914;
   text-decoration: underline;
}
.call-us{
   padding:  8px 16px;
   color: #303030;
   margin-top: 4px;
   background-color: #fff;
   font-weight: 600;
   border: 1px solid #303030;
}
.live-chat{
   padding:  8px 16px;
   color: #303030;
   margin-top: 4px;
   background-color: #fff;
   font-weight: 600;
   border: 1px solid #303030;
}


.content-contact-left li{
   padding: 8px 0;
   
}
.content-contact-left li a{
   text-decoration: none;
   color: #000 !important;
}
.content-contact-left li a:hover{
   text-decoration: underline;
   color: #e50914 !important;
}
.content-contact-left h5{
   margin: 20px 0;
   font-size: 1.1rem;
   color: #000;
}
.questions-search{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 4px;
   border: 2px solid rgb(165, 156, 156);
   border-radius: 4px;
   height: 50px;
}
.search-icon{
   width: 15%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.search-icon i{
   font-size: 1.25rem;
   line-height: 100%;
   align-items: center;
   color: rgb(165, 156, 156);
   
}
.questions-search input {
   outline: none;
   border: none;
   box-shadow: none;
   width: 85%;
}
.footer-contact{
   background-color: #221f1f;
}
.footer-contact-left{
   display: flex;
   float: right;
   
}
.footer-contact-left a{
   margin-left: 24px;
}
.footer-contact-left a:hover{
   color: #757575 !important;
}
.faq-content-alert{
   
   background-color: #fafafa;
   border-radius: 4px;
   box-shadow: 0 1px 20px rgb(0 0 0 / 20%);
}
.faq-content-alert a{
   text-decoration: none;
}
.alert-change-password{
   display: flex;
   
}
.alert-left{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex: 1;
}
.alert-icon{
   color: orange;
   width: 32px;
   height: 100%;
   padding-right: 24px;
   display: flex;
   align-items: center;
}
.alert-text{
   display: flex;
   flex-direction: column;
   padding: 12px 0;
}
.alert-text h5{
   color: #000;
   margin-bottom: -10px;
   top: 0;
   left: 0;
   font-size: 1.1rem;
}
.alert-text p{
   color: #000;
   margin-top: -10px;
   top: 0;
   left: 0;
   font-size: 1rem;
}
.aleart-submit {
   display: flex;
   justify-content: right;
   align-items: center;
   width: 25%;
   
}
.aleart-submit  a{
   color: #e50914;
   font-weight: 700;
}
.aleart-submit  a:hover{
   color: #e50914 !important;
   text-decoration: underline;
}
.faq-content h1{
   color: #000;
}
.faq-content-right h3{
   color: #000;
   font-size: 1.5rem;
   font-weight: 650;
}
.faq-content-right span{
   color: #000;
   font-weight: 650;
}
.faq-content-right{
   margin-top: 24px
}
.faq-content-right p{
   color: #000;
   font-size: 1.1rem;
   margin-top: 24px;
}
.faq-content-right p a{
   color: #e50914;
   text-decoration: none;
}
.faq-content-right p a:hover{
   color: #e50914 !important;
   text-decoration: underline;
}
.faq-content-right ul li{
   list-style-type:decimal;
}
.faq-feedback{
   display: flex;
   
   align-items: center;
}
.faq-feedback button{
   border: 1px solid #e50914;
   color: #e50914;
   background-color: #fff;
   font-size: 1.25rem;
   font-weight: 500;
   margin: 0 4px;
   padding: 8px 32px;
}
.faq-feedback button:hover{
   border: 1px solid #e50914;
   color: #fff;
   background-color: #e50914;
}
.faq-footer{
   display: flex;
   justify-content: space-between;
}
.faq-footer-right{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.faq-footer-right button{
   background-color: #fff;
   padding: 8px 24px;
   margin-left: 32px;
   font-weight: 650;
   border:1px solid #000
}
.note >div{
   display: inline;
}
.note{
   font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    border-left: 4px solid #d5d4d1;
    color: #221f1f;
    display: block;
    margin: 8px 0 24px;
    padding: 0 12px;
    position: relative;
}

.contact-alert{
   color: black !important;
   display: flex  ;
}
.contact-alert a :hover{
   color: black !important;
}
.privacy-text{
   margin-top: 20px;
}
.privacy-text h1{
   color: #000000;
   margin: 40px 0;
}
.privacy-text span{
   font-weight: 650;
}
.privacy-text a{
   color: #e50914 !important;
   text-decoration: none;
}
.privacy-text a:hover{
   color: #e50914;
   text-decoration: underline;
}
.privacy-text h5{
   color: black;
   margin-bottom: 16px;
}
.privacy-text p {
   color: black;
   margin-bottom: 16px;
}
.privacy-text ul{
   margin-bottom: 12px;
}
.privacy-text ul li {
   margin-bottom: 12px;
}

.header_right{
  float: right !important;
}
.thea{
   color: #e50914;
   text-decoration: none;
   cursor: pointer;
}
.thea:hover{
   color: #e50914;
   text-decoration: underline;
}
