*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto' ,sans-serif;
}
.container .site-header{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 24px 50px;
    z-index: 100000;
}

.header_navbar--logo{
    width: 13%;
}
.nav-option{
    display: flex;
    
}
.nav-option div{
    padding-right: 24px;
}
.container .site-header a{
    color: #fff;
    text-decoration: none;
    background-color: #e50914;
    padding: 8px 18px;
    border-radius: 5px;
}
..language-selection .dropdown-menu .dropdown-item{
    background-color: #fff;
}
.language-selection .dropdown-menu .dropdown-item.disabled{
    background-color: #8c8c8c;
}
.language-selection{
    background: transparent;
}
.language-selection button{
    background-color: transparent;
    border: 1px solid #fff;
}
.bander{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bander::before{
    content: "";
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to bottom , #000, transparent);
}
.bander::after{
    content: "";
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to top , #000, transparent);
}
.banner-card-background{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;

}
.bander .banner-card-text{
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
}
.bander .banner-card-text .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.bander .banner-card-text .heading h2{
    font-size: 3.125rem;
    color: #fff;
    letter-spacing: 2px;
    width: 80%;
    font-weight: 600;
}
.bander .banner-card-text .heading h5{
    font-size: 1.625rem;
    color: #fff;
    font-weight: 400;
    padding: 1rem 0;
}
.bander .banner-card-text .heading p{
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    padding: 16px 0;
    padding-bottom: 20px;
}
.bander .banner-card-text .search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.bander .banner-card-text .search input{
    
    font-size: 16px;
    border: 1px solid #8c8c8c;
    color: #000;
    outline: none;
    border-radius: 4px;
    padding: 10px 10px 0 0;
    min-width: 460px;
    height: 60px;
    align-items: center;
}
.bander .banner-card-text .search a{
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.1px;
    border-radius: 2px;
    background-color: #e50914;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    font-size: 1.625rem;
    min-width: 200px;
    padding: 0 30px;
    line-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.bander .banner-card-text .search a i{
    padding-left: 20px;
}
.Advertise{
    
}