

body {
    padding: 0;
    margin: 0;
    font-family: "Roboto",sans-serif;
    overflow-x: hidden;
    height: calc();
    
 }
 #header .head{
     position: absolute;
     margin-top: 16px;
      display: inline-flex;
      align-items: center;
      top: 0;
      left: 0;
      z-index: 1;
      
  }
 .navbar_header{
    display: flex;
    justify-content: space-between;
    background-color: #000;
    align-items: center;
    
 }
 .navbar_header ul {
    display: flex;
    list-style-type: none;
    margin-top: 12px;
 }
 .navbar_header ul li{
    margin-left: 16px;
 }
 .navbar_header ul li a{
    text-decoration: none;
    color: #fff;
 }
 .navbar_header-left{
    display: flex;
    padding: 8px 0;
    align-items:center;
    flex:1;
 }
  .navbar {
     position: absolute;
     width: 100%;
  }
  a.navbar-brand {
     color: #e50914 !important;
     font-weight: bold;
     width: 160px;
  }
 .header_navbar--logo-second{
    display: none;
 }
 .layer {
   background-color: rgba(0, 0, 0, 0.5);
   height: 100vh;
    
 }
 .notifyerror{
     color: red;
     font-size: 90%;
     font-style: italic;
     font-weight: normal;
     margin-bottom: 0px;
 }

.title{
       padding: 10px 30px;
       border-radius: 10px;
       width: 500px;
       margin: auto;
   }
 .layer.row{
    z-index: 1;
    
 }
 .layer .row{
    color: #fff;
 }
 .navbar-nav{
    display: flex;
    align-items: center;
    margin-top: 12px;
 }
 .navbar-nav.side-nav{
    margin-top: 12px;
 }

.btn-primary{
   background-color: #e50914;
   border: none;
}
.btn-primary:hover{
   background-color: #e50914;

}
 .collapse.navbar-collapse{
    position: relative;
 }
 .search_form{
    margin-top: 48px;  
    
 }
 .table_box .table{
    color: #fff;
 }
 .table_manage{
   max-height: 500px;
   overflow-x: auto;
   overflow-y: scroll;
 }
 .table_box{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    margin-top: 24px;
 }
 .table_box .table tr:hover{
   background-color: #751d22;
 }
 #edit-film{
    position: relative;    
 }
 #edit-film label {
    margin-top: 24px;
    color: #fff;
    font-size: 1.25rem;
    display: flex;
 }
 #button_post{
   margin: 24px 0;
 }
 .form_input{
    display: flex;
 }
 .form_input select{
   margin-left: 24px;
   font-size: 1.25rem;
   margin-top: 24px;
 }
.action_btn{
   width: 64px;
}
.tiltle_edit{
   color: #fff;
   width: 100%;
   display: flex;
   justify-content: center;
   margin-top: 32px;
}
.select_sex{
   display: flex;
   justify-content:space-between ;
   width: 160px;
}
.navbar_select-option{
   display: none;
}
.navbar_btn{
   color: #fff;
   font-size: 1.625rem;
   display: none;
   
}
.navbar_header-right{
   display: flex;
   align-items: center;
}
.dropdown-toggle{
   background-color: #e50914;
   color: #fff;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 150px;
   height: 48px;
}
.dropdown-menu{
   background:none;
}
.dropdown-item{
   background-color: #000;
   font-size: 1.25rem;
   border-radius: 4px;
}
.dropdown > button{
   background-color: #e50914 !important;
}
.dropdown button:hover{
   color: #fff;
   border: 2px solid #fff;
}
.dropdown-item{
   display: none;
}
.dropdown-menu.show .dropdown-item{
   display: block;
}
.dropdown-item:hover{
   background-color: #e50914;
}
.dropdown-item button{
   border: none;
}
.upload_avata-profile{
   display: block;
   background-color: #551fac;
   color: #fff;
   padding: 6px 10px;
   border-radius: 4px;
   align-items: center;
}
.edit_user a{
   text-decoration: none;
}
.edit_user a:hover{
   color: #e50914 !important;
}